<h1>{{ stock.ticker }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p><b>Daily Volume:</b> {{ stock.daily_volume }}</p>
<form action="{% url 'stocks:vote' stock.id %}" method="post">
{% csrf_token %}
{% for trade in stock.trade_set.all %}
  <input type="radio" name="trade" id="trade{{ forloop.counter }}" value="{{ trade.id }}" />
  <label for="trade{{ forloop.counter }}">{{ trade }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>