{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}" />

{% if stocks_list %}
  <ul>
  {% for stock in stocks_list %}
    <li><a href="{% url 'stocks:detail' stock.id %}">{{ stock.ticker }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No Stocks.</p>
{% endif %}
{% endblock %}
