{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'markets/css/bootstrap-datepicker3.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'markets/css/style.css' %}" />
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{% endblock %}

{% block content %}

{% if markets_list.markets %}
    <div class="row">
      <form method="post">
        <div class="form-group col-md-1">
          <label for="markets">Market: </label>
          <select name="markets" id="markets" class="form-control">
          <option value=""></option>
          {% for market in markets_list.markets %}
            <option value="{{ market.id }}">{{ market }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="hidden" id="securities_div">
          <div class="form-group col-md-4">
            <label for="securities">Security: </label>
            <select name="securities" id="securities" class="form-control" multiple="multiple"></select>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <label for="from_date">From: </label>
                <input name="from_date" id="from_date" class="form-control datepicker">
            </div>
            <div class="form-group">
                <label for="to_date">To: </label>
                <input name="to_date" id="to_date" class="form-control datepicker">
            </div>
          </div>
          <!--<div class="col-md-3">
            <div class="form-group">
                <label for="from_date">From: </label>
                <input name="from_date" id="from_date" class="form-control datepicker">]
            </div>
            <div class="form-group">
                <label for="to_date">To: </label>
                <input name="to_date" id="to_date" class="form-control datepicker">
            </div>
          </div> -->
        </div>
      </form>
    </div>
    <div class="row" id="chart">
      {{ markets_list.script | safe }}
    </div>
{% else %}
  <p>No Markets.</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'markets/js/bootstrap-datepicker.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'markets/js/markets.js' %}" crossorigin="anonymous"></script>
{% endblock %}